<app-header></app-header>
<body>
<a routerLink="/home" class="backlink">< go back</a>
<div class="center">
  <div *ngFor="let stock of stocks">
    <div *ngIf="stock.quote.open > stock.quote.previousClose; else elseBlock">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header" style="text-align: center"><a style="outline: 0 !important; text-decoration: none !important; color: white" routerLink="/stocks/{{stock.symbol}}"> {{stock.symbol}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{stock.quote.open}} {{stock.currency}}</div>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">{{stock.name}}</h5>
          <p class="card-text" style="text-align: center">{{stock.stockExchange}}</p>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header" style="text-align: center"><a style="outline: 0 !important; text-decoration: none !important; color: white" routerLink="/stocks/{{stock.symbol}}"> {{stock.symbol}} </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{stock.quote.open}} {{stock.currency}}</div>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">{{stock.name}}</h5>
          <p class="card-text" style="text-align: center">{{stock.stockExchange}}</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
</body>
